@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

.bg-detail{
    background-image: url('/public/img/nio-milano-caH-ZLrisZA-unsplash.jpg');
    background-size: cover;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
}
.detail-box{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.name-box{
    display: flex;
    align-items: center;
}
.ul-box-1{
    margin-top: 150px;
}
.ul-box-2{
    margin-top: 20px;
}
.ul-box-3{
    margin-top: 20px;
    margin-bottom: 20px;
}

.li-text{
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
}