/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.fight-container {
  height: 400px;
  width: 400px;
  background-color: red;
}

.player {
  height: 50%;
  background-color: green;
  display: flex;
}

.computer {
  display: flex;
  height: 50%;
  background-color: blue;
}

.button-container {
  display: flex;
}
.pokemon-attack {
  justify-content: center;
}